@import url(./reset.css);

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.slider-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.slider {
    width: 50rem;
    height: 25rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider__item {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.slider__controls {
    display: none;
}

#contr1:checked~.slider__bar>.inner>.btn1,
#contr2:checked~.slider__bar>.inner>.btn2,
#contr3:checked~.slider__bar>.inner>.btn3,
#contr4:checked~.slider__bar>.inner>.btn4 {
    border: .3rem solid #fff;
    background: #000;
}


#contr1:checked~.slider>.slider1 {
    margin-right: 0;
}

#contr2:checked~.slider>.slider2 {
    margin-left: -100%;

}

#contr3:checked~.slider>.slider3 {
    margin-left: -200%;
}

#contr4:checked~.slider>.slider4 {
    margin-left: -300%;
}

#contr1:checked~.slider__bar>.mem-description>.mem1 {
    display: flex;
    animation-duration: .5s;
    animation-name: text-motion;
}

#contr2:checked~.slider__bar>.mem-description>.mem2 {
    display: flex;
    animation-duration: .5s;
    animation-name: text-motion;
}

#contr3:checked~.slider__bar>.mem-description>.mem3 {
    display: flex;
    animation-duration: .5s;
    animation-name: text-motion;
}

#contr4:checked~.slider__bar>.mem-description>.mem4 {
    display: flex;
    animation-duration: .5s;
    animation-name: text-motion;
}

.slider__pic {
    width: 50rem;
    height: 25rem;
    border-radius: 1rem;
}

.slider__description {
    margin-right: auto;
    overflow: hidden;
    color: #bbb1b1;

}

.mem-description {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #fff;

}

.mem1,
.mem2,
.mem3,
.mem4 {
    width: 100%;
    display: none;
    transition: all 0.5s linear;

}


.inner {
    display: flex;
}

.slider__bar {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    align-self: flex-end;

}

.slider__button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 2rem 0 0;
    border-radius: 100%;
    background: #597cd5;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
}


.slider__button:hover {
    background: #fff;
}

.slider__button:active {
    background: #bbb1b1;
}

.slider__button:last-child {
    margin: 0;
}

@keyframes text-motion {
    0% {
        justify-content: flex-end;
    }

    50% {
        justify-content: center;

    }

    100% {
        justify-content: flex-start;
    }
}

/* Media query */
@media (max-width: 500px) {
    .slider-wrap {
        /* margin: 0 1.5rem; */
        padding: 0;
    }

    .slider {
        width: 30rem;
        height: 20rem;
    }

    .slider__pic {
        width: 30rem;
        height: 20rem;
    }

    .slider__bar {
        flex-direction: column;
    }

    .mem-description {
        width: 100%;
        order: 2;
        padding: 2rem
    }

    .slider__button {
        width: 2.5rem;
        height: 2.5rem;
    }

    @media (hover: hover) {
        .slider__button:hover {
            background: #fff;
        }

    }

}